<h1>Pagina de informacion</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni maiores, quisquam repellat sapiente earum 
    ratione consequuntur vero. Laborum doloremque, ex nostrum fugiat nulla nam hic! Nemo voluptatem magnam in recusandae!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque omnis magni deserunt reiciendis eligendi rem debitis qui necessitatibus, 
    tempora quaerat sit repellat dicta repellendus fuga iure voluptatem impedit odit? Inventore!</p>